@charset "UTF-8";
@media screen and (max-width: 1024px) {
  /***** main page *****/
  .main-hero .hero-slide {
    height: 300px;
  }
  .main-hero .hero-slide .swiper-pagination .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 6px;
  }
  .main-hero .hero-slide .swiper-button-next,
.main-hero .hero-slide .swiper-button-prev {
    display: none;
  }

  .con-designer {
    margin-top: 40px;
    margin-bottom: 0;
  }
  .con-designer .designer-slide {
    padding-bottom: 20px;
  }
  .con-designer .designer-slide .card .card-contents {
    min-height: 100px;
  }
  .con-designer .designer-slide .swiper-button-next {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }
  .con-designer .designer-slide .swiper-button-prev {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }

  .con-brand {
    margin-top: 48px;
    margin-bottom: 0;
  }
  .con-brand .brand-slide .swiper-button-next {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }
  .con-brand .brand-slide .swiper-button-prev {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }
  .con-brand .brand-slide .card .card-contents {
    min-height: 100px;
  }

  .con-news {
    margin-top: 48px;
    margin-bottom: 40px;
  }
  .con-news .news-list .card {
    width: 100%;
    margin-right: 0;
  }

  .con-project {
    margin-top: 40px;
    margin-bottom: 64px;
  }
  .con-project .recommend-project-slide .swiper-button-next,
.con-project .new-project-slide .swiper-button-next {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }
  .con-project .recommend-project-slide .swiper-button-prev,
.con-project .new-project-slide .swiper-button-prev {
    width: 20px;
    height: 20px;
    background-size: 20px 20px;
  }
  .con-project .card .card-contents {
    min-height: 150px;
  }
  .con-project .card .card-contents .text-box {
    min-height: 64px;
  }
  .con-project .card .card-contents .info-box-list {
    margin-top: 10px;
  }

  .con-search {
    margin-top: 16px;
    margin-bottom: 120px;
  }
  .con-search .card .card-contents {
    min-height: 96px;
  }
  .con-search .news-list .card {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .con-search .news-list .card:nth-last-child(-n+4) {
    margin-bottom: 20px;
  }
  .con-search .news-list .card .card-contents {
    min-height: 72px;
  }
  .con-search .project-card .card-contents {
    min-height: 150px;
  }
  .con-search .project-card .card-contents .text-box {
    min-height: 64px;
  }
  .con-search .project-card .card-contents .info-box-list {
    margin-top: 10px;
  }

  .news-list .card {
    width: calc(50% - 5px);
    margin-right: 10px;
    margin-bottom: 40px;
  }
  .news-list .card:nth-child(2n) {
    margin-right: 0;
  }
  .news-list .card:nth-child(4n) {
    margin-right: 0;
  }
  .news-list .card:nth-last-child(-n+4) {
    margin-bottom: 20px;
  }
  .news-list .card .card-contents {
    min-height: 72px;
  }

  .card-list .card {
    width: calc(50% - 5px);
    margin-right: 10px;
    margin-bottom: 20px;
  }
  .card-list .card:nth-child(2n) {
    margin-right: 0;
  }
  .card-list .card:nth-last-child(-n+4) {
    margin-bottom: 20px;
  }

  .btn-wrap {
    margin-top: 40px;
    text-align: center;
  }
  .btn-wrap .btn-more {
    display: inline-block;
    width: 300px;
    background: black;
    color: white;
    font-size: 14px;
    padding: 10px 12px;
  }

  .search-headline {
    margin-top: 72px;
  }

  .search-result-text {
    font-size: 14px;
  }

  .search-result-none {
    font-size: 16px;
    margin-top: 10px;
  }

  .category-title-wrap {
    font-size: 18px;
    letter-spacing: 5px;
    padding-bottom: 48px;
  }

  .category-detail-list {
    border-bottom: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .category-detail-list li {
    text-align: center;
    border-bottom: 1px solid #dadce0;
  }
  .category-detail-list li a {
    padding: 8px 0;
  }

  .category-detail-10 li {
    width: 33.3%;
  }

  .category-detail-8 li {
    width: 33.3%;
  }

  .con-main {
    padding-bottom: 120px;
  }

  /****** auth ******/
  .con-login .title {
    font-size: 24px;
    letter-spacing: 8px;
    margin-bottom: 40px;
  }
  .con-login .text {
    font-size: 12px;
    margin-bottom: 32px;
  }
  .con-login .find-email {
    width: 100%;
    margin-left: 0;
    margin-bottom: 80px;
  }
  .con-login .find-email .result {
    word-break: break-all;
  }

  .con-join {
    padding: 32px 0 80px;
  }
  .con-join .join-header {
    padding-bottom: 4px;
  }
  .con-join .join-header .join-title {
    font-size: 24px;
    letter-spacing: 4px;
  }
  .con-join .join-header .join-step {
    display: none;
  }
  .con-join .agree-wrap {
    padding: 24px 10px 0;
  }
  .con-join .agree-wrap .agree-all .checkbox-wrap p {
    font-size: 14px;
  }
  .con-join .agree-wrap .agree-all .text {
    font-size: 12px;
    margin-top: 4px;
  }
  .con-join .agree-wrap .agree-item {
    margin-bottom: 48px;
  }
  .con-join .agree-wrap .agree-item .checkbox-wrap > p {
    font-size: 12px;
  }
  .con-join .join-box {
    padding: 32px 10px 0;
  }
  .con-join .join-box .join-notice {
    width: 100%;
    font-size: 13px;
  }
  .con-join .join-box .input-item .address .input-field:nth-child(2) {
    width: calc(100% - 164px);
  }
  .con-join .complate-box {
    padding-top: 40px;
  }
  .con-join .complate-box > img {
    max-width: 240px;
  }
  .con-join .complate-box .text {
    font-size: 13px;
    margin-top: 32px;
  }
  .con-join .complate-box .btn-black {
    margin-top: 56px;
  }

  /****** mypage ******/
  .con-mypage {
    padding: 40px 0 120px;
  }
  .con-mypage .title {
    font-size: 24px;
    letter-spacing: 6px;
    margin-bottom: 32px;
  }
  .con-mypage .user-info-wrap {
    min-width: auto;
    padding: 16px;
    width: 100%;
  }
  .con-mypage .user-info-wrap .user-info {
    width: 100%;
    padding-right: 12px;
    border-right: none;
    text-align: center;
  }
  .con-mypage .user-info-wrap .user-point {
    display: none;
  }
  .con-mypage .menu-list {
    margin-top: 32px;
    display: flex;
  }
  .con-mypage .menu-list li a {
    font-size: 10px;
    padding: 12px 2px;
  }
  .con-mypage .mypage-contents {
    margin-top: 30px;
  }
  .con-mypage .mypage-contents .user-table {
    table-layout: fixed;
  }
  .con-mypage .mypage-contents .user-table tr th {
    letter-spacing: 0;
    padding-left: 30px;
    width: 120px;
  }
  .con-mypage .mypage-contents .user-table tr td {
    padding: 10px;
  }
  .con-mypage .mypage-contents .user-table tr td .input-field {
    width: 100%;
    min-width: auto;
    margin-bottom: 5px;
    padding: 8px;
  }
  .con-mypage .mypage-contents .user-table tr td .badge {
    margin-left: 0;
  }
  .con-mypage .mypage-contents .user-table tr .exist-password .btn-white {
    margin-left: 0;
  }
  .con-mypage .mypage-contents .user-table tr .new-password .input-field:first-child {
    margin-right: 0;
  }
  .con-mypage .mypage-contents .user-table tr .email > div, .con-mypage .mypage-contents .user-table tr .phone > div {
    margin-bottom: 8px;
  }
  .con-mypage .mypage-contents .user-table tr .email .text, .con-mypage .mypage-contents .user-table tr .phone .text {
    min-width: auto;
    margin-right: 0;
  }
  .con-mypage .mypage-contents .user-table tr .email .checkbox-wrap, .con-mypage .mypage-contents .user-table tr .phone .checkbox-wrap {
    vertical-align: middle;
    margin-top: 8px;
  }
  .con-mypage .mypage-contents .user-table tr .email .checkbox-wrap p, .con-mypage .mypage-contents .user-table tr .phone .checkbox-wrap p {
    font-size: 12px;
  }
  .con-mypage .mypage-contents .user-table tr .address .postal .input-field {
    min-width: auto;
    margin-right: 0;
    width: 100%;
  }
  .con-mypage .mypage-contents .user-table tr .address .detail .input-field:first-child {
    margin-right: 0;
  }
  .con-mypage .mypage-contents .project-list .project-card {
    width: 100%;
    margin-right: 0;
    margin-bottom: 32px;
  }
  .con-mypage .mypage-contents .project-list .project-card .card {
    font-size: 0;
  }
  .con-mypage .mypage-contents .project-list .project-card .card > div {
    display: inline-block;
  }
  .con-mypage .mypage-contents .project-list .project-card .card .card-image {
    width: 50%;
    padding-bottom: 68%;
  }
  .con-mypage .mypage-contents .project-list .project-card .card .card-contents {
    width: 50%;
    min-height: auto;
  }
  .con-mypage .mypage-contents .project-list .project-card .card .card-contents .project-info {
    padding: 8px;
  }
  .con-mypage .mypage-contents .project-list .project-card .card .card-contents .project-info .project-title {
    font-size: 14px;
    -webkit-line-clamp: 3;
    min-height: 48px;
  }
  .con-mypage .mypage-contents .project-list .project-card .card .card-contents .project-info .project-name {
    font-size: 12px;
  }
  .con-mypage .mypage-contents .project-list .project-card .card .card-contents .project-item {
    font-size: 10px;
    padding: 8px 8px 8px 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
  }
  .con-mypage .mypage-contents .project-list .project-card .card .card-contents .project-item::before {
    left: 8px;
  }
  .con-mypage .mypage-contents .project-list .project-card .card .card-contents .project-item p {
    white-space: normal;
  }
  .con-mypage .mypage-contents .project-list .project-card .card .card-contents .project-delivery {
    padding: 8px;
    font-size: 12px;
  }
  .con-mypage .mypage-contents .project-list .project-card .card .card-contents .project-delivery .badge {
    position: relative;
    right: 0;
  }
  .con-mypage .mypage-contents .project-list .project-card .card .card-contents .project-date {
    padding: 8px 8px 8px 32px;
    position: absolute;
    bottom: 8px;
  }
  .con-mypage .mypage-contents .project-list .project-card .card .card-contents .project-date::after {
    top: 8px;
  }
  .con-mypage .mypage-contents .project-list .project-card .card .badge {
    right: 50%;
  }
  .con-mypage .mypage-contents .project-list .project-card .btn-white {
    margin-top: 10px;
  }
  .con-mypage .mypage-contents .project-list .my-card .card .card-image {
    width: 120px;
    height: 160px;
    padding-bottom: 0;
  }
  .con-mypage .mypage-contents .project-list .my-card .card .card-contents {
    width: calc(100% - 120px);
    height: 160px;
  }
  .con-mypage .mypage-contents .project-list .my-card .card .card-contents .project-info {
    border-bottom: 0;
  }
  .con-mypage .mypage-contents .project-list .my-card .card .badge {
    right: auto;
    left: 64px;
  }
  .con-mypage .mypage-contents .project-btn-wrap {
    text-align: center;
  }
  .con-mypage .mypage-contents .project-btn-wrap .btn-black {
    width: 100%;
  }
  .con-mypage .mypage-contents .project-notice {
    padding: 24px 12px;
    margin: 20px auto 32px;
    width: 100%;
  }
  .con-mypage .mypage-contents .project-notice .notice-list {
    margin-top: 24px;
  }
  .con-mypage .mypage-contents .community-table {
    border-top: 2px solid black;
  }
  .con-mypage .mypage-contents .community-table tr th:nth-child(-n+2), .con-mypage .mypage-contents .community-table tr td:nth-child(-n+2) {
    width: auto;
  }
  .con-mypage .mypage-contents .community-table tr th:nth-child(1), .con-mypage .mypage-contents .community-table tr td:nth-child(1) {
    width: 50px;
  }
  .con-mypage .mypage-contents .community-table tr th:nth-child(2), .con-mypage .mypage-contents .community-table tr td:nth-child(2) {
    width: 80px;
  }
  .con-mypage .mypage-contents .mypage-tab-list .mypage-tab {
    margin-right: 10px;
    min-width: auto;
    width: calc(50% - 5px);
  }
  .con-mypage .mypage-contents .project-message-list {
    margin-top: 20px;
  }
  .con-mypage .mypage-contents .project-message-list .project-message-card {
    height: 200px;
  }
  .con-mypage .mypage-contents .project-message-list .project-message-card .card-image {
    width: 140px;
  }
  .con-mypage .mypage-contents .project-message-list .project-message-card .card-contents {
    width: calc(100% - 140px);
    padding: 12px 8px;
  }
  .con-mypage .mypage-contents .project-message-list .project-message-card .card-contents .card-header {
    min-height: 0;
  }
  .con-mypage .mypage-contents .project-message-list .project-message-card .card-contents .card-title {
    font-size: 14px;
    letter-spacing: 0;
    display: inline-block;
    margin-right: 0;
    max-width: none;
    width: 100%;
  }
  .con-mypage .mypage-contents .project-message-list .project-message-card .card-contents .card-title a {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
  }
  .con-mypage .mypage-contents .project-message-list .project-message-card .card-contents .new {
    width: 16px;
    height: 16px;
    position: absolute;
    bottom: 0;
    left: 84px;
  }
  .con-mypage .mypage-contents .project-message-list .project-message-card .card-contents .new::after {
    line-height: 16px;
    font-size: 10px;
  }
  .con-mypage .mypage-contents .project-message-list .project-message-card .card-contents .card-date {
    font-size: 10px;
    position: relative;
    margin: 8px 0;
  }
  .con-mypage .mypage-contents .project-message-list .project-message-card .card-contents .card-name {
    font-size: 12px;
  }
  .con-mypage .mypage-contents .project-message-list .project-message-card .card-contents .card-message {
    -webkit-line-clamp: 3;
  }
  .con-mypage .mypage-contents .message-header {
    padding: 0 8px 16px;
  }
  .con-mypage .mypage-contents .message-header .message-name {
    display: block;
    font-size: 14px;
    letter-spacing: 2px;
  }
  .con-mypage .mypage-contents .message-header .message-title {
    margin-top: 5px;
    max-width: 100%;
    white-space: normal;
    font-size: 16px;
  }
  .con-mypage .mypage-contents .message-header .btn-white {
    position: relative;
    width: 100%;
    bottom: auto;
    margin-top: 16px;
  }
  .con-mypage .mypage-contents .message-contents {
    height: 460px;
    padding: 24px 16px;
  }
  .con-mypage .mypage-contents .message-contents .message-list .date {
    font-size: 14px;
  }
  .con-mypage .mypage-contents .message-contents .message-list .bubble {
    padding: 12px;
  }
  .con-mypage .mypage-contents .message-footer {
    padding: 16px 4px;
  }
  .con-mypage .mypage-contents .message-footer .textarea {
    height: 80px;
    width: calc(100% - 70px);
  }
  .con-mypage .mypage-contents .message-footer .btn-black {
    height: 80px;
    margin-left: 8px;
    width: 60px;
  }
  .con-mypage .mypage-contents .question-table {
    border-top: none;
    margin-bottom: 0;
  }
  .con-mypage .mypage-contents .question-table thead {
    display: none;
  }
  .con-mypage .mypage-contents .question-table tbody tr {
    cursor: pointer;
    border-top: 2px solid black;
    display: block;
    margin-bottom: 20px;
  }
  .con-mypage .mypage-contents .question-table tbody tr:last-child {
    margin-bottom: 0;
  }
  .con-mypage .mypage-contents .question-table tr {
    padding: 10px 4px 12px;
  }
  .con-mypage .mypage-contents .question-table tr td {
    display: block;
    height: auto;
    padding: 0;
  }
  .con-mypage .mypage-contents .question-table tr th:nth-child(1), .con-mypage .mypage-contents .question-table tr td:nth-child(1) {
    display: none;
  }
  .con-mypage .mypage-contents .question-table tr th:nth-child(2), .con-mypage .mypage-contents .question-table tr td:nth-child(2) {
    width: calc(100% - 56px);
  }
  .con-mypage .mypage-contents .question-table tr th:nth-child(4), .con-mypage .mypage-contents .question-table tr td:nth-child(4) {
    width: 100%;
    text-align: left;
    position: absolute;
    top: 28px;
    left: 5px;
  }
  .con-mypage .mypage-contents .question-table tr th:nth-child(5), .con-mypage .mypage-contents .question-table tr td:nth-child(5) {
    width: auto;
    position: absolute;
    top: 8px;
    right: 6px;
  }
  .con-mypage .mypage-contents .question-table tr .question-title {
    -webkit-line-clamp: 1;
    font-weight: 700;
    text-align: left;
    word-break: break-all;
  }
  .con-mypage .mypage-contents .question-table tr .question-text {
    margin-top: 28px;
  }
  .con-mypage .mypage-contents .question-row .btn-white {
    width: 100%;
    position: relative;
  }
  .con-mypage .mypage-contents .question-form .btn-wrap .btn-white, .con-mypage .mypage-contents .question-form .btn-wrap .btn-black {
    width: calc(50% - 6px);
  }
  .con-mypage .mypage-contents .question-form .btn-wrap .btn-white {
    margin-left: 12px;
  }
  .con-mypage .mypage-contents .question-wrap {
    width: calc(100% + 20px);
    margin-left: -10px;
    border-top: none;
  }
  .con-mypage .mypage-contents .question-wrap .qna-box {
    border-top: 2px solid black;
  }
  .con-mypage .mypage-contents .question-wrap .qna-box .qna-header .qna-title {
    font-size: 16px;
    width: 100%;
    max-width: 100%;
  }
  .con-mypage .mypage-contents .question-wrap .qna-box .qna-header .qna-date {
    font-size: 14px;
    position: relative;
    top: auto;
    right: auto;
    margin-top: 4px;
  }
  .con-mypage .mypage-contents .question-wrap .qna-box .qna-contents {
    padding: 20px;
  }
  .con-mypage .mypage-contents .question-wrap .btn-wrap {
    padding: 0 16px;
  }
  .con-mypage .mypage-contents .question-wrap .btn-wrap .btn-white, .con-mypage .mypage-contents .question-wrap .btn-wrap .btn-black {
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
  }

  /****** notice ******/
  .con-notice {
    padding: 40px 0 80px;
  }
  .con-notice .notice-headline {
    font-size: 24px;
    letter-spacing: 8px;
    margin-bottom: 40px;
  }
  .con-notice .notice-table thead {
    display: none;
  }
  .con-notice .notice-table tbody tr {
    display: block;
    min-height: 64px;
    text-align: left;
    padding: 8px;
  }
  .con-notice .notice-table tbody tr th, .con-notice .notice-table tbody tr td {
    display: block;
  }
  .con-notice .notice-table tbody tr td {
    height: auto;
    padding: 0;
    position: relative;
  }
  .con-notice .notice-table tbody tr td:nth-child(1) {
    font-weight: 500;
  }
  .con-notice .notice-table tbody tr td:nth-child(2) {
    display: inline-block;
    font-size: 12px;
    padding-right: 20px;
  }
  .con-notice .notice-table tbody tr td:nth-child(2):after {
    content: "";
    width: 1px;
    height: 12px;
    position: absolute;
    right: 8px;
    top: 4px;
    background: #cccccc;
  }
  .con-notice .notice-table tbody tr td:nth-child(3) {
    display: inline-block;
    font-size: 12px;
  }
  .con-notice .notice-wrap {
    width: calc(100% + 20px);
    margin-left: -10px;
  }
  .con-notice .notice-wrap .notice-box .notice-header {
    padding: 12px 16px;
  }
  .con-notice .notice-wrap .notice-box .notice-header .notice-title {
    font-size: 16px;
    max-width: 100%;
    display: block;
  }
  .con-notice .notice-wrap .notice-box .notice-header .notice-date {
    position: relative;
    top: auto;
    right: auto;
    font-size: 12px;
    margin-top: 4px;
  }
  .con-notice .notice-wrap .notice-box .notice-contents {
    padding: 20px;
  }
  .con-notice .notice-wrap .btn-wrap {
    padding: 0 10px;
    margin-top: 20px;
  }
  .con-notice .notice-wrap .btn-wrap .btn-white {
    width: 100%;
  }

  /****** inquiry ******/
  .con-inquiry {
    padding: 40px 0 120px;
  }
  .con-inquiry .inquiry-headline {
    font-size: 24px;
    letter-spacing: 8px;
    margin-bottom: 40px;
  }
  .con-inquiry .inquiry-intro-wrap .caption {
    font-size: 13px;
  }
  .con-inquiry .inquiry-intro-wrap .inquiry-intro {
    padding: 12px;
  }
  .con-inquiry .inquiry-form .inquiry-item {
    margin-bottom: 16px;
  }
  .con-inquiry .inquiry-form .inquiry-item .inquiry-name {
    width: 100%;
    margin-right: 0;
    text-align: left;
    margin-bottom: 5px;
  }
  .con-inquiry .inquiry-form .inquiry-item .inquiry-option {
    width: 100%;
  }
  .con-inquiry .inquiry-form .inquiry-item .inquiry-option .input-field {
    width: 100%;
  }
  .con-inquiry .inquiry-form .inquiry-item .inquiry-option .text-error {
    margin-left: 0;
  }
  .con-inquiry .btn-wrap .btn-black {
    width: 100%;
  }

  /****** crm ******/
  .con-crm {
    padding: 40px 0 120px;
  }
  .con-crm .crm-headline {
    font-size: 16px;
    letter-spacing: 5px;
    margin-bottom: 40px;
  }
  .con-crm .menu-list {
    margin-top: 32px;
    display: flex;
    border-bottom: 1px solid #dadce0;
  }
  .con-crm .menu-list li {
    align-self: center;
    border-bottom: none;
    place-self: flex-end;
  }
  .con-crm .menu-list li a {
    word-break: keep-all;
  }
  .con-crm .menu-list .on {
    border-bottom: none;
  }
  .con-crm .menu-list .on:after {
    content: "";
    width: 100%;
    height: 1px;
    background: black;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .con-crm .crm-contents {
    padding: 16px;
    margin-top: 16px;
  }

  /****** project ******/
  .con-project-view {
    padding: 32px 0 56px;
  }
  .con-project-view .project-headline {
    font-size: 24px;
    letter-spacing: 8px;
    margin-bottom: 40px;
  }
  .con-project-view .project-info .project-title {
    font-size: 20px;
    margin-bottom: 24px;
  }
  .con-project-view .project-info .project-category {
    margin-bottom: 24px;
  }
  .con-project-view .project-info .project-outline {
    font-size: 12px;
  }
  .con-project-view .project-detail {
    padding: 40px 0 0;
  }
  .con-project-view .project-detail > div {
    display: block;
  }
  .con-project-view .project-detail > div:first-child {
    width: calc(100% + 20px);
    margin-right: 0;
  }
  .con-project-view .project-detail > div:last-child {
    width: calc(100% + 20px);
  }
  .con-project-view .project-detail .col {
    margin-left: -10px;
  }
  .con-project-view .project-detail .project-status {
    padding: 24px 16px;
  }
  .con-project-view .project-detail .project-status .status-item .status-name {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .con-project-view .project-detail .project-status .status-item .status-value {
    font-size: 20px;
  }
  .con-project-view .project-detail .project-status .status-item .status-value span {
    font-size: 12px;
    margin-bottom: 4px;
  }
  .con-project-view .project-detail .project-status .status-item .status-percentage {
    font-size: 18px;
  }
  .con-project-view .project-detail .project-status .status-item .status-date {
    font-size: 12px;
    margin-bottom: 4px;
  }
  .con-project-view .project-detail .project-owner {
    padding: 24px 16px;
  }
  .con-project-view .project-detail .project-owner .owner-caption {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .con-project-view .project-detail .project-owner .owner-name.ko {
    font-size: 20px;
  }
  .con-project-view .project-detail .project-owner .owner-name.en {
    font-size: 12px;
    margin-left: 4px;
    margin-bottom: 2px;
  }
  .con-project-view .project-detail .project-owner .btn-green {
    margin-top: 16px;
    width: 100%;
    background: black;
    height: 40px;
    line-height: 40px;
  }
  .con-project-view .project-detail .project-product {
    padding: 24px 16px;
  }
  .con-project-view .project-detail .project-product .info-item .info-name {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .con-project-view .project-detail .project-product .info-item .info-value {
    font-size: 20px;
  }
  .con-project-view .project-detail .project-product .info-item .info-value span {
    font-size: 12px;
    margin-bottom: 2px;
  }
  .con-project-view .project-detail .project-product .info-item .select {
    margin-top: 4px;
  }
  .con-project-view .project-detail .project-product .info-item .option-list {
    margin-top: 16px;
  }
  .con-project-view .project-detail .project-product .info-item .option-list .option-item {
    margin-bottom: 10px;
  }
  .con-project-view .project-detail .project-product .info-item .option-list .option-item .option-value {
    width: calc(100% - 36px);
  }
  .con-project-view .project-detail .project-product .info-item .option-list .option-item .option-value .option-name {
    font-size: 12px;
    width: 100%;
    white-space: normal;
    padding-right: 0;
    margin-bottom: 8px;
    word-break: break-all;
  }
  .con-project-view .project-detail .project-product .info-item .option-list .option-item .option-value .option-amount {
    height: 24px;
    font-size: 14px;
  }
  .con-project-view .project-detail .project-product .info-item .option-list .option-item .option-value .option-price {
    display: inline-block;
    width: calc(100% - 40px);
  }
  .con-project-view .project-detail .project-product .info-item .option-list .option-item .btn-black {
    margin-left: 8px;
    height: 100%;
    margin-top: 0;
    position: absolute;
    right: 0;
  }
  .con-project-view .project-detail .project-product .info-item .option-list .option-item .btn-black:before {
    content: "";
    display: inline-block;
    width: 14px;
    height: 1px;
    background: white;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .con-project-view .project-detail .project-product .info-item .option-list .option-item .btn-black:after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 1px;
    background: white;
    transform: rotate(-45deg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .con-project-view .project-detail .project-product .info-item .option-list.confirm .option-item {
    margin-bottom: 0;
    border-bottom: 1px solid #cccccc;
  }
  .con-project-view .project-detail .project-product .info-item .option-list.confirm .option-item .option-value {
    width: 100%;
  }
  .con-project-view .project-detail .project-product .info-item .btn-wrap {
    font-size: 0;
  }
  .con-project-view .project-detail .project-product .info-item .btn-wrap .btn-white {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }
  .con-project-view .project-detail .project-product .info-item .btn-wrap .btn-black {
    width: 100%;
  }
  .con-project-view .project-overview-wrap {
    margin-top: 20px;
  }
  .con-project-view .project-overview-wrap .headline-wrap {
    margin-bottom: 24px;
  }
  .con-project-view .project-overview-wrap .headline-wrap .headline {
    font-size: 24px;
  }
  .con-project-view .project-overview-wrap .overview-tab {
    margin-bottom: 16px;
    width: calc(100% + 20px);
    margin-left: -10px;
  }
  .con-project-view .project-overview-wrap .overview-tab > li {
    font-size: 14px;
    padding: 12px 0;
  }
  .con-project-view .project-overview-wrap .designer-headline {
    margin-bottom: 12px;
  }
  .con-project-view .project-overview-wrap .designer-headline .designer-name {
    font-size: 20px;
    letter-spacing: 5px;
    padding: 16px 14px;
  }
  .con-project-view .project-overview-wrap .designer-headline .designer-name span {
    font-size: 12px;
    letter-spacing: 2px;
  }
  .con-project-view .project-overview-wrap .designer-headline .designer-type {
    font-size: 14px;
    padding: 12px 14px;
    letter-spacing: 4px;
  }
  .con-project-view .project-overview-wrap .contents-wrap {
    margin-bottom: 60px;
  }
  .con-project-view .project-overview-wrap .project-overview > img {
    max-width: calc(100% + 20px);
    width: calc(100% + 20px);
    margin: 16px 0 16px -10px;
  }
  .con-project-view .project-overview-wrap .contents-overview > img {
    max-width: calc(100% + 20px);
    width: calc(100% + 20px);
    margin: 16px 0 16px -10px;
  }
  .con-project-view .project-overview-wrap .history-list .history-item {
    margin-bottom: 40px;
  }
  .con-project-view .project-overview-wrap .history-list .year {
    font-size: 20px;
    letter-spacing: 4px;
    margin-bottom: 12px;
  }
  .con-project-view .project-overview-wrap .history-list .history li {
    padding-left: 24px;
  }
  .con-project-view .project-overview-wrap .history-list .history li:before {
    left: 12px;
  }
  .con-project-view .project-overview-wrap .association-list {
    padding: 0 8px;
  }
  .con-project-view .project-overview-wrap .association-list li .year {
    font-size: 18px;
    width: 100%;
    letter-spacing: 4px;
  }
  .con-project-view .project-overview-wrap .product-info-list .product-info-item .item-name {
    font-size: 18px;
    margin-bottom: 12px;
  }
  .con-project-view .project-overview-wrap .product-info-list .product-info-item .size-wrap {
    display: block;
  }
  .con-project-view .project-overview-wrap .product-info-list .product-info-item .size-wrap .size-image {
    display: block;
    max-width: 300px;
    margin: auto;
  }
  .con-project-view .project-overview-wrap .product-info-list .product-info-item .size-wrap .size-image img {
    max-width: 100%;
  }
  .con-project-view .project-overview-wrap .product-info-list .product-info-item .size-wrap .size-list {
    margin-top: 25px;
    display: block;
    margin-left: 0;
  }
  .con-project-view .project-overview-wrap .product-info-list .product-info-item .size-wrap .size-list li {
    margin-bottom: 10px;
  }
  .con-project-view .project-overview-wrap .product-info-list .product-info-item .size-wrap .size-list li .size-name {
    font-size: 14px;
    min-width: 80px;
    margin-right: 12px;
  }
  .con-project-view .project-overview-wrap .product-info-list .product-info-item .size-wrap .size-list li .size-text {
    width: calc(100% - 92px);
  }
  .con-project-view .project-overview-wrap .product-info-list .product-info-item .fabric-wrap .fabric-list {
    display: block;
  }
  .con-project-view .project-overview-wrap .product-info-list .product-info-item .fabric-wrap .fabric-list li {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }
  .con-project-view .project-overview-wrap .product-info-list .product-info-item .cleaning-wrap .cleaning-list {
    flex-wrap: wrap;
  }
  .con-project-view .project-overview-wrap .product-info-list .product-info-item .cleaning-wrap .cleaning-list > li {
    width: calc(50% - 6px);
    margin-right: 12px;
    margin-bottom: 20px;
  }
  .con-project-view .project-overview-wrap .product-info-list .product-info-item .cleaning-wrap .cleaning-list > li:nth-child(2n) {
    margin-right: 0;
  }
  .con-project-view .project-overview-wrap .product-info-list .product-info-item .cleaning-wrap .cleaning-list > li .cleaning-text {
    padding-bottom: 20px;
  }
  .con-project-view .project-overview-wrap .product-info-list .product-info-item .delivery-wrap .delivery-list li {
    width: 50%;
    margin: 0;
    margin-bottom: 20px;
  }
  .con-project-view .project-overview-wrap .product-info-list .product-info-item .delivery-wrap .delivery-list li .delivery-image {
    margin-bottom: 16px;
  }
  .con-project-view .project-overview-wrap .product-info-list .product-info-item .delivery-wrap .delivery-notice {
    margin-top: 40px;
    font-size: 12px;
  }
  .con-project-view .project-overview-wrap .contact-wrap .contact-list .contact-item {
    width: 100%;
    margin-bottom: 15px;
  }
  .con-project-view .project-overview-wrap .contact-wrap .contact-list .contact-item .contact-name {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .con-project-view .project-overview-wrap .contact-wrap .contact-list .contact-item .contact-value {
    border-bottom: 1px solid #dedede;
    padding-bottom: 5px;
  }
  .con-project-view .project-overview-wrap .contact-wrap .sns-list {
    margin-top: 24px;
  }
  .con-project-view .project-overview-wrap .contact-wrap .sns-list li {
    font-size: 14px;
  }
  .con-project-view .project-overview-wrap .community-create .btn-wrap .btn-black {
    width: 100%;
  }
  .con-project-view .project-overview-wrap .community-list {
    width: calc(100% + 20px);
    margin-left: -10px;
  }
  .con-project-view .project-overview-wrap .community-item .cm-header {
    padding: 16px 12px;
  }
  .con-project-view .project-overview-wrap .community-item .cm-header .btn-wrap {
    right: 16px;
  }
  .con-project-view .project-overview-wrap .community-item .cm-header .btn-wrap .btn-white, .con-project-view .project-overview-wrap .community-item .cm-header .btn-wrap .btn-black {
    width: 80px;
    height: 32px;
    line-height: 28px;
  }
  .con-project-view .project-overview-wrap .community-item .cm-header .btn-wrap .btn-black {
    margin-left: 8px;
  }
  .con-project-view .project-overview-wrap .community-item .cm-contents {
    padding: 16px;
  }
  .con-project-view .project-overview-wrap .edit-on .cm-header .btn-wrap .delete {
    display: none;
  }
  .con-project-view .project-overview-wrap .edit-on .cm-contents .text {
    display: none;
  }
  .con-project-view .project-overview-wrap .edit-on .cm-contents .textarea {
    display: block;
  }
  .con-project-view .sponsor-form {
    width: calc(100% + 20px);
    margin-left: -10px;
  }
  .con-project-view .sponsor-form .col {
    width: 100%;
    margin-right: 0;
  }
  .con-project-view .sponsor-form .sponsor-item {
    margin-bottom: 32px;
  }
  .con-project-view .sponsor-form .sponsor-item:last-child .sponsor-box .option-name {
    white-space: normal;
    word-break: keep-all;
  }
  .con-project-view .sponsor-form .sponsor-item .title {
    font-size: 20px;
    margin-bottom: 8px;
    padding: 0 12px;
  }
  .con-project-view .sponsor-form .sponsor-item .title-wrap .checkbox-wrap {
    margin-left: 5px;
    margin-top: 8px;
  }
  .con-project-view .sponsor-form .sponsor-item .sponsor-box {
    padding: 24px 16px;
  }
  .con-project-view .sponsor-form .sponsor-item .sponsor-box .option-name {
    width: 64px;
    margin-right: 12px;
    white-space: nowrap;
  }
  .con-project-view .sponsor-form .sponsor-item .sponsor-box .option-value {
    width: calc(100% - 80px);
  }
  .con-project-view .sponsor-form .sponsor-item .sponsor-box .input-field {
    width: calc(100% - 80px);
  }
  .con-project-view .sponsor-form .sponsor-item .sponsor-box .address-form {
    width: calc(100% - 80px);
  }
  .con-project-view .sponsor-form .sponsor-item .sponsor-box .address-form .code {
    display: none;
  }
  .con-project-view .sponsor-form .sponsor-item .sponsor-box .address-form .address {
    width: calc(100% - 78px);
    margin-right: 8px;
  }
  .con-project-view .sponsor-form .sponsor-item .sponsor-box .address-form .btn-black {
    width: 70px;
  }
  .con-project-view .sponsor-form .sponsor-item .sponsor-box .point {
    white-space: normal;
  }
  .con-project-view .sponsor-form .sponsor-item .sponsor-box .point .has-point {
    margin-left: 80px;
    margin-top: 2px;
  }
  .con-project-view .sponsor-form .sponsor-item .sponsor-box .select {
    width: calc(100% - 80px);
  }
  .con-project-view .sponsor-form .sponsor-total .total {
    padding: 0 16px;
  }
  .con-project-view .sponsor-form .sponsor-total .total .total-caption {
    font-size: 14px;
    left: 16px;
  }
  .con-project-view .sponsor-form .sponsor-total .total .total-price {
    font-size: 24px;
  }
  .con-project-view .sponsor-form .sponsor-total .total .checkbox-wrap {
    margin-top: 12px;
    white-space: nowrap;
  }
  .con-project-view .sponsor-form .sponsor-total .total .checkbox-wrap p {
    width: calc(100% - 20px);
    font-size: 12px;
  }
  .con-project-view .sponsor-form .sponsor-total .btn-wrap {
    margin-top: 20px;
    padding: 0 16px;
  }
  .con-project-view .sponsor-form .sponsor-total .btn-wrap .btn-black, .con-project-view .sponsor-form .sponsor-total .btn-wrap .btn-white {
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .project-modal {
    width: 100%;
    height: 100vh;
    overflow: auto;
    padding: 20px 16px;
    top: 0;
    transform: translateY(0);
  }
  .project-modal .project-name {
    font-size: 18px;
  }
  .project-modal .project-category {
    margin-bottom: 24px;
  }
  .project-modal .project-category span {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    color: #9b9b9b;
    padding-right: 20px;
  }
  .project-modal .project-category span:before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 4px;
    background: #9b9b9b;
    position: absolute;
    right: 6px;
    top: 6px;
    transform: rotate(-45deg);
  }
  .project-modal .project-category span:after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 4px;
    background: #9b9b9b;
    position: absolute;
    right: 6px;
    top: 9px;
    transform: rotate(45deg);
  }
  .project-modal .project-category span:last-child {
    padding-right: 0;
    color: #181818;
  }
  .project-modal .project-category span:last-child:before, .project-modal .project-category span:last-child:after {
    display: none;
  }
  .project-modal .btn-wrap {
    padding-bottom: 32px;
  }
  .project-modal .btn-wrap .btn-black {
    width: 100%;
  }
  .project-modal .btn-close {
    width: 32px;
    height: 32px;
  }
  .project-modal .btn-close:before {
    width: 20px;
    height: 2px;
  }
  .project-modal .btn-close:after {
    width: 20px;
    height: 2px;
  }

  .con-sponsor-management {
    padding: 24px 0 56px;
  }
  .con-sponsor-management .project-info .project-name {
    font-size: 20px;
  }
  .con-sponsor-management .project-info .btn-green {
    margin-top: 12px;
    width: 160px;
    height: 32px;
    line-height: 32px;
  }
  .con-sponsor-management .project-info .project-text {
    margin-top: 16px;
    word-break: break-all;
  }
  .con-sponsor-management .sponsor-list {
    margin-top: 40px;
  }
  .con-sponsor-management .sponsor-list .sponsor-headline {
    font-size: 16px;
  }
  .con-sponsor-management .sponsor-list .sponsor-table {
    border-top: none;
  }
  .con-sponsor-management .sponsor-list .sponsor-table thead {
    display: none;
  }
  .con-sponsor-management .sponsor-list .sponsor-table tbody tr {
    border-top: 2px solid black;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 20px;
    display: block;
    padding: 20px 12px;
  }
  .con-sponsor-management .sponsor-list .sponsor-table tbody tr td {
    display: block;
    text-align: left;
    height: auto;
    margin-bottom: 4px;
  }
  .con-sponsor-management .sponsor-list .sponsor-table tbody tr td:nth-child(5) {
    padding-left: 16px;
  }
  .con-sponsor-management .sponsor-list .sponsor-table tbody tr td:nth-child(5):before {
    content: "배송 : ";
  }
  .con-sponsor-management .sponsor-list .sponsor-table tbody tr td:nth-child(5):after {
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 7px;
    left: 5px;
  }
  .con-sponsor-management .sponsor-list .sponsor-table tbody tr td:nth-child(6) {
    padding-left: 16px;
  }
  .con-sponsor-management .sponsor-list .sponsor-table tbody tr td:nth-child(6):before {
    content: "교환요청 : ";
  }
  .con-sponsor-management .sponsor-list .sponsor-table tbody tr td:nth-child(6):after {
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 7px;
    left: 5px;
  }
  .con-sponsor-management .sponsor-list .sponsor-table tbody tr td:nth-child(7) {
    padding-left: 16px;
  }
  .con-sponsor-management .sponsor-list .sponsor-table tbody tr td:nth-child(7):before {
    content: "교환 : ";
  }
  .con-sponsor-management .sponsor-list .sponsor-table tbody tr td:nth-child(7):after {
    content: "";
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: black;
    position: absolute;
    top: 7px;
    left: 5px;
  }
  .con-sponsor-management .sponsor-list .sponsor-table tbody tr .price {
    text-align: left;
  }
  .con-sponsor-management .sponsor-list .sponsor-table tbody tr .price:before {
    content: "총 합계 금액:";
    padding-right: 12px;
  }
  .con-sponsor-management .sponsor-list .sponsor-table tbody tr .price:after {
    content: "원";
  }

  .sponsor-modal {
    width: 100%;
    height: 100vh;
    padding: 0 0 40px;
    top: 0;
    transform: translateY(0);
  }
  .sponsor-modal .headline {
    font-size: 20px;
    padding: 0 16px;
  }
  .sponsor-modal .contents-box {
    padding: 16px;
  }
  .sponsor-modal .product-list {
    padding: 0 16px;
    background: white;
    border-top: none;
    border-bottom: none;
  }
  .sponsor-modal .product-list .product-item {
    padding: 10px;
    background: #f6f6f6;
  }
  .sponsor-modal .product-list .product-item .name {
    max-width: 100%;
    white-space: normal;
    display: block;
    margin-bottom: 10px;
  }
  .sponsor-modal .product-list .product-item .amount {
    font-size: 14px;
    position: relative;
    right: auto;
    top: auto;
  }
  .sponsor-modal .product-list .product-item .price {
    right: 16px;
    bottom: 12px;
  }
  .sponsor-modal .product-list .total {
    padding: 15px 12px;
  }
  .sponsor-modal .product-list .total .name {
    font-size: 16px;
    font-weight: 700;
  }
  .sponsor-modal .product-list .total .price {
    font-size: 18px;
  }
  .sponsor-modal .btn-wrap {
    padding: 0 16px;
  }
  .sponsor-modal .btn-wrap .btn-black {
    width: 100%;
  }
  .sponsor-modal .btn-close {
    width: 32px;
    height: 32px;
  }
  .sponsor-modal .btn-close:before {
    width: 20px;
    height: 2px;
  }
  .sponsor-modal .btn-close:after {
    width: 20px;
    height: 2px;
  }

  .message-modal {
    width: 100%;
    height: 100vh;
    padding: 0 16px 40px;
    top: 0;
    transform: translateY(0);
  }
  .message-modal .headline {
    font-size: 20px;
  }
  .message-modal .contents-box {
    margin-top: 20px;
  }
  .message-modal .info-item .name {
    width: 80px;
  }
  .message-modal .info-item .value {
    width: calc(100% - 100px);
  }
  .message-modal .textarea {
    margin-top: 12px;
    height: 200px;
  }
  .message-modal .btn-wrap {
    margin-top: 10px;
  }
  .message-modal .btn-wrap .btn-black {
    width: 100%;
  }
  .message-modal .btn-close {
    width: 32px;
    height: 32px;
  }
  .message-modal .btn-close:before {
    width: 20px;
    height: 2px;
  }
  .message-modal .btn-close:after {
    width: 20px;
    height: 2px;
  }

  .designer-headline-out .designer-name {
    font-size: 24px;
    letter-spacing: 6px;
    padding: 16px 20px;
  }
  .designer-headline-out .designer-name span {
    font-size: 14px;
    letter-spacing: 2px;
  }
  .designer-headline-out .designer-type {
    display: none;
  }

  .con-portfolio-view {
    padding: 32px 0 56px;
  }
  .con-portfolio-view .portfolio-headline {
    font-size: 24px;
    letter-spacing: 8px;
    margin-bottom: 24px;
  }
  .con-portfolio-view .headline-wrap {
    margin-bottom: 20px;
  }
  .con-portfolio-view .portfolio-overview > img {
    margin: 16px auto;
  }
  .con-portfolio-view .contents-overview > img {
    margin: 16px auto;
  }
  .con-portfolio-view .history-list .history-item {
    margin-bottom: 40px;
  }
  .con-portfolio-view .history-list .year {
    font-size: 20px;
    letter-spacing: 4px;
    margin-bottom: 12px;
  }
  .con-portfolio-view .history-list .history li {
    padding-left: 24px;
  }
  .con-portfolio-view .history-list .history li:before {
    left: 12px;
  }
  .con-portfolio-view .association-list {
    padding: 0 8px;
  }
  .con-portfolio-view .association-list li .year {
    font-size: 18px;
    width: 100%;
    letter-spacing: 4px;
  }
  .con-portfolio-view .contact-wrap .contact-list .contact-item {
    width: 100%;
    margin-bottom: 15px;
  }
  .con-portfolio-view .contact-wrap .contact-list .contact-item .contact-name {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .con-portfolio-view .contact-wrap .contact-list .contact-item .contact-value {
    border-bottom: 1px solid #dedede;
    padding-bottom: 5px;
  }
  .con-portfolio-view .contact-wrap .sns-list {
    margin-top: 24px;
  }
  .con-portfolio-view .contact-wrap .sns-list li {
    font-size: 14px;
  }
  .con-portfolio-view .lookbook .lookbook-item {
    margin-bottom: 20px;
  }
  .con-portfolio-view .lookbook .lookbook-item .lookbook-title {
    font-size: 18px;
  }
  .con-portfolio-view .lookbook .lookbook-item .lookbook-list .image {
    width: calc(25% - 4px);
    margin-right: 5px;
    margin-bottom: 10px;
  }
  .con-portfolio-view .project .project-show-option {
    top: 44px;
  }
  .con-portfolio-view .project .card-list {
    margin-top: 40px;
  }
  .con-portfolio-view .project .project-card .card-contents {
    min-height: 140px;
  }
  .con-portfolio-view .project .project-card .card-contents .text-box {
    min-height: 64px;
  }
  .con-portfolio-view .news .news-list .card {
    width: calc(50% - 10px);
    margin-bottom: 15px;
    margin-right: 10px;
  }
  .con-portfolio-view .news .news-list .card:nth-child(2n) {
    margin-right: 0;
  }

  /****** popup ******/
  .popup {
    padding: 24px 32px 50px;
  }
  .popup .headline {
    font-size: 18px;
  }
  .popup .overline {
    font-size: 14px;
    font-weight: 300;
  }
  .popup .title {
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 4px;
  }
  .popup .title:before {
    content: "• ";
  }
  .popup .text {
    font-size: 12px;
  }
  .popup .row {
    margin-top: 20px;
  }
  .popup .btn-wrap {
    text-align: center;
  }
  .popup .btn-wrap .btn-black {
    width: 150px;
    height: 36px;
    line-height: 36px;
  }

  .pop-news-wrap .upload-file {
    display: inline-block;
  }
  .pop-news-wrap .upload-file input[type=file] {
    display: none;
  }
  .pop-news-wrap .upload-file .file-button {
    font-size: 12px;
    background: black;
    color: white;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
  }
  .pop-news-wrap .upload-file .file-name {
    display: inline-block;
    color: #777777;
    font-size: 12px;
    vertical-align: middle;
    margin-left: 4px;
  }
  .pop-news-wrap .input-field {
    font-size: 14px;
    color: #4a4a4a;
    width: 100%;
    box-sizing: border-box;
    border: none;
    outline: none;
    padding: 8px 0;
    border-bottom: 1px solid #cccccc;
    transition: border 0.3s;
  }
  .pop-news-wrap .input-field::placeholder {
    color: #cccccc;
  }
  .pop-news-wrap .input-field:focus {
    border-color: #777777;
  }
  .pop-news-wrap .news-url {
    margin-top: 10px;
    font-size: 0;
  }
  .pop-news-wrap .news-url .input-field {
    width: calc(100% - 100px);
    margin-right: 20px;
  }
  .pop-news-wrap .news-url .btn-white {
    width: 80px;
    height: 32px;
    line-height: 32px;
  }
  .pop-news-wrap .news-info-list {
    margin-top: 20px;
  }
  .pop-news-wrap .news-info-list li {
    display: block;
    margin-bottom: 5px;
    font-size: 0;
  }
  .pop-news-wrap .news-info-list li span {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    width: 60px;
    text-align: right;
    margin-right: 20px;
    line-height: 32px;
  }
  .pop-news-wrap .news-info-list li .input-field {
    display: inline-block;
    width: calc(100% - 80px);
    font-size: 12px;
  }
  .pop-news-wrap .news-image-list {
    margin-top: 40px;
  }
  .pop-news-wrap .news-image-list .news-image-option {
    margin-top: 20px;
  }
  .pop-news-wrap .news-image-list .news-image-option .row {
    margin-top: 0;
  }
  .pop-news-wrap .news-image-list .news-image-option .checkbox-wrap p {
    font-size: 12px;
    vertical-align: top;
    margin-top: 1px;
  }
  .pop-news-wrap .news-image-list .news-image-option .upload-file {
    margin-left: 20px;
    transform: translateY(-5px);
  }
  .pop-news-wrap .news-image-list .news-image-option .upload-file .file-button {
    height: 24px;
    line-height: 24px;
    width: 64px;
  }
  .pop-news-wrap .news-image-list .news-image-option .upload-file .file-name {
    vertical-align: top;
    margin-top: 2px;
  }
  .pop-news-wrap .news-image-list .news-image-wrap {
    font-size: 0;
    margin-top: 15px;
  }
  .pop-news-wrap .news-image-list .news-image-wrap .news-image {
    display: inline-block;
    width: calc(33.3% - 10px);
    padding-bottom: 25%;
    margin-right: 15px;
    margin-bottom: 15px;
    cursor: pointer;
  }
  .pop-news-wrap .news-image-list .news-image-wrap .news-image:nth-child(3n) {
    margin-right: 0;
  }
  .pop-news-wrap .news-image-list .news-image-wrap .news-image img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .pop-news-wrap .news-image-list .news-image-wrap .news-image input {
    display: none;
  }
  .pop-news-wrap .news-image-list .news-image-wrap .news-image .checkbox-shape {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #cccccc;
  }
  .pop-news-wrap .news-image-list .news-image-wrap .news-image input:checked ~ .checkbox-shape {
    border: 4px solid #d1e65d;
  }
}

/*# sourceMappingURL=responsive.css.map */
